<h3>About me</h3>
<button ng-show="isAuthorized(userRoles.admin)" type="submit"
        ng-click="update(post.id)"
        class="btn btn-xs">
    <span class="glyphicon glyphicon-pencil"></span> Edit
</button>
<div ta-bind ng-model="about"></div>

<!--Editing post-->
<div ng-show="isAuthorized(userRoles.admin)" class="modal fade" id="editAboutModal" tabindex="-1" role="dialog"
     aria-labelledby="myPostLabel"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="save()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myPostLabel">Edit about information</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>text</label>
                        <summernote
                            ng-model="about" required>
                        </summernote>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <!--<button type="submit" -->
                    <!--ng-disabled="form.$invalid" class="btn btn-primary">-->
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
