<!--Add new post form -->
<div ng-controller="CreatePostController">
    <div ng-show="isAuthorized(userRoles.admin)" class="modal fade" id="savePostModal" tabindex="-1" role="dialog"
         aria-labelledby="myPostLabel"
         aria-hidden="true"
         data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope"
                      ng-submit="create()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPostLabel">Create a Post</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>title</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="post.title" required>
                        </div>
                        <div class="form-group">
                            <label>text</label>
                            <summernote name="text" ng-model="post.text" required></summernote>
                        </div>
                        <div class="form-group">
                            <label>Post type</label>
                            <select class="form-control postType" ng-model="post.postType"
                                    ng-options='type as type for type in postTypes' required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tags:</label>
                            <tags-input
                                name="tags"
                                ng-model="post.tags"
                                class="bootstrap"
                                placeholder="Add a tag"
                                replace-spaces-with-dashes="false"
                                min-tags="1"
                                required>
                                <auto-complete source="loadTags($query)">
                                </auto-complete>
                            </tags-input>
                        </div>
                        <div class="form-group">
                            <label>SEO-description</label>
                            <input name="seoDescription" type="text" class="form-control"
                                   ng-model="post.seoDescription" required>
                        </div>
                        <div class="form-group">
                            <label>SEO-keywords</label>
                            <input name="seoKeywords" type="text" class="form-control"
                                   ng-model="post.seoKeywords" required>
                        </div>
                    </div>
                    <p class="bg-warning info-field"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> All fields are required</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
