<div>

    <h2>Posts</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePostModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Post
    </button>
    <div class="modal fade" id="savePostModal" tabindex="-1" role="dialog" aria-labelledby="myPostLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPostLabel">Create or edit a Post</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="post.id" readonly>
                        </div>
                        <div class="form-group">
                            <label>title</label>
                            <input type="text" class="form-control"
                                   ng-model="post.title">
                        </div>
                        <div class="form-group">
                            <label>text</label>
                            <input type="text" class="form-control"
                                   ng-model="post.text">
                        </div>
                        <div class="form-group">
                            <label>create_date</label>
                            <input type="date" class="form-control"
                                   ng-model="post.create_date">
                        </div>
                        <div class="form-group">
                            <label>change_date</label>
                            <input type="date" class="form-control"
                                   ng-model="post.change_date">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>title</th>
                    <th>text</th>
                    <th>create_date</th>
                    <th>change_date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.text}}</td>
                    <td>{{post.create_date}}</td>
                    <td>{{post.change_date}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(post.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(post.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
