<!--Editing post-->
<div ng-show="isAuthorized(userRoles.admin)" class="modal fade" id="editPostModal" tabindex="-1" role="dialog"
     aria-labelledby="myPostLabel"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="save()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myPostLabel">Create or edit a Post</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>title</label>
                        <input type="text" class="form-control"
                               ng-model="post.title" required>
                    </div>
                    <div class="form-group">
                        <label>text</label>
                        <summernote
                            ng-model="post.text" required>{{post.text}}
                        </summernote>
                    </div>
                    <div class="form-group">
                        <label>Post type</label>
                        <select class="form-control postType" ng-model="post.postType"
                                ng-options='type as type for type in postTypes' required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tags:</label>
                        <tags-input
                            ng-model="post.tags"
                            class="bootstrap"
                            placeholder="Add a tag"
                            replace-spaces-with-dashes="false" min-tags="1"
                            required>
                            <auto-complete source="loadTags($query)">
                            </auto-complete>
                        </tags-input>
                    </div>
                    <div class="form-group">
                        <label>SEO-description</label>
                        <input name="seo_description" type="text" class="form-control"
                               ng-model="post.seoDescription" required>
                    </div>
                    <div class="form-group">
                        <label>SEO-keywords</label>
                        <input name="seo_keywords" type="text" class="form-control"
                               ng-model="post.seoKeywords" required>
                    </div>
                </div>
                <p class="bg-warning info-field"><span class="glyphicon glyphicon-exclamation-sign"
                                                       aria-hidden="true"></span> All fields are required</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <!--<button type="submit" -->
                    <!--ng-disabled="form.$invalid" class="btn btn-primary">-->
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- post -->
<div class="table-responsive">
    <div class="row">
        <div class="col-md-2"><h6>Post ID: {{post.id}}</h6></div>
        <div class="col-md-3"><h6>Create date: {{post.create_date}}</h6></div>
        <div class="col-md-3"><h6>Change date: {{post.change_date}}</h6></div>
        <div class="col-md-2 col-md-offset-2">
            <button ng-show="isAuthorized(userRoles.admin)" type="submit"
                    ng-click="update(post.id)"
                    class="btn btn-xs">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button ng-show="isAuthorized(userRoles.admin)" type="submit"
                    ng-click="delete(post.id)"
                    class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove-circle"></span> Delete
            </button>
        </div>
    </div>
    <!--title-->
    <div class="row">
        <div class="col-md-4">
            <h3>{{post.title}}</h3>
        </div>
    </div>
    <!--text-->
    <div class="row">
        <div class="col-md-12">
            <div ta-bind ng-model="post.text"></div>
        </div>
    </div>
    <hr>
    <!--tags-->
    <div class="row">
        <div class="col-md-4">
            <label> Used technologies:</label>

            <div ng-repeat="tag in post.tags">
                <a href="#/tech_posts_with_tag/{{tag.id}}">
                    <button class="btn btn-xs btn-success tag-button" title="{{tag.text}}">
                        {{tag.text}}
                    </button>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <!--Comments-->
    <div class="row">
        <div class="col-md-12" ng-show=" post.comments.length != 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Comments:</label>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="com in post.comments">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6><b>Author:</b> {{com.author}}&nbsp&nbsp&nbsp<b>Create date:</b>
                                        {{com.create_date}}&nbsp&nbsp&nbsp<b>Change date:</b> {{com.change_date}}</h6>
                                </div>
                                <div class="col-md-6"><span class="pull-right">
                                <button class="btn btn-xs" ng-click="showAnsverForm = !showAnsverForm"
                                        title="add answer">
                                    <span class="glyphicon glyphicon-plus" ng-show="!showAnsverForm"></span>
                                    <span class="glyphicon glyphicon-minus" ng-show="showAnsverForm"></span>
                                </button>
                                <!--edit comment-->
                                <button ng-show="isAuthorized(userRoles.admin) && !show" type="submit"
                                        ng-click="show = !show" class="btn btn-xs" title="edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <!--cancel comment-->
                                <button
                                    ng-show="isAuthorized(userRoles.admin) && show" type="submit"
                                    ng-click="show = !show" class="btn btn-xs" title="cancel">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <!--save button-->
                                <button ng-show="isAuthorized(userRoles.admin) && show" type="submit"
                                        ng-click="update_comment(com)"
                                        class="btn btn-xs btn-success" title="save">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                    <!--delete button-->
                                <button ng-show="isAuthorized(userRoles.admin) && !show" type="submit"
                                        ng-click="delete_comment(com.id)"
                                        class="btn btn-danger btn-xs" title="delete">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div ng-controller="PostPageController">
                                <div class="list-group-item" ng-show="!show">{{com.text}}</div>
                                <div ng-show="show">
                                    <textarea class="list-group-item form-control" ng-model="com.text"></textarea>
                                </div>

                            </div>
                        </div>

                        <!--Add answer form -->
                        <form name="form" role="form"
                              class="panel panel-info ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength col-md-offset-1"
                              ng-submit="addSubcomment(newSubcomment, com)" ng-show="showAnsverForm">
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="newSubcomment.author"
                                           placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                            <textarea type="text" class="form-control" ng-model="newSubcomment.text"
                                                      placeholder="Comment" required></textarea>
                                </div>
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span> Add answer
                                </button>
                            </div>
                        </form>
                        <!--ansvers-->
                        <div class="col-md-offset-1" ng-show="com.subcomments.length > 0">
                            <div class="panel panel-default" ng-repeat="subcom in com.subcomments">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6><b>Author:</b> {{subcom.author}}&nbsp&nbsp&nbsp<b>Create date:</b>
                                                {{subcom.create_date}}&nbsp&nbsp&nbsp<b>Change date:</b>
                                                {{subcom.change_date}}</h6>
                                        </div>
                                        <div class="col-md-6"><span class="pull-right">
                                                <!--edit subcomment-->
                                                <button ng-show="isAuthorized(userRoles.admin) && !showAnsw"
                                                        type="submit"
                                                        ng-click="showAnsw = !showAnsw" class="btn btn-xs" title="edit">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <!--cancel subcomment-->
                                                <button ng-show="isAuthorized(userRoles.admin) && showAnsw"
                                                        type="submit"
                                                        ng-click="showAnsw = !showAnsw" class="btn btn-xs"
                                                        title="cancel">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                                <!--save subcomment-->
                                                <button ng-show="isAuthorized(userRoles.admin) && showAnsw"
                                                        type="submit"
                                                        ng-click="update_subcomment(subcom, com)"
                                                        class="btn btn-xs btn-success" title="save">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                                <!--delete subcoment-->
                                                <button ng-show="isAuthorized(userRoles.admin) && !showAnsw"
                                                        type="submit"
                                                        ng-click="delete_subcomment(subcom.id)"
                                                        class="btn btn-danger btn-xs" title="delete">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                </button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div ng-controller="PostPageController">
                                        <div class="list-group-item" ng-show="!showAnsw">{{subcom.text}}</div>
                                        <div ng-show="showAnsw">
                                                <textarea class="list-group-item form-control"
                                                          ng-model="subcom.text"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!--Add comment form-->
            <form name="form" role="form"
                  class="panel panel-info ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="addComment()">
                <div class="panel-body">
                    <div class="list-group">
                        <label>Add comment:</label>
                    </div>
                    <div class="form-group">
                        <span ng-show="myForm.user.$error.required">Username is required.</span>
                        <input type="text" class="form-control" name="id"
                               ng-model="newcomment.author" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                    <textarea type="text" class="form-control"
                              ng-model="newcomment.text" placeholder="Comment" required></textarea>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-sm"
                            ng-show="!form.$invalid">
                        <span class="glyphicon glyphicon-save"></span> Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
