<div class="tagSearchWrapper" ng-controller="SearchController">
    <div class="collapse" id="collapseSearch">
        <div class="tagContainer">
            <label>Search</label>

            <div class="demo">
                <span id="langtabs">
                    <span id="searchTag" ng-repeat="tag in allTags"
                          ng-class="{'active' : tag.active,'inactive' : !tag.active}"
                          ng-click="tag.active = !tag.active; getRelatedTags()">{{tag.text}}</span>
                </span>
            </div>
            <hr>
            <button class="btn btn-success" ng-click="search()">Find posts</button>
        </div>
    </div>
</div>
