<div>

    <h2>Subcomments</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveSubcommentModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Subcomment
    </button>
    <div class="modal fade" id="saveSubcommentModal" tabindex="-1" role="dialog" aria-labelledby="mySubcommentLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="mySubcommentLabel">Create or edit a Subcomment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="subcomment.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>text</label>
                            <input type="text" class="form-control"
                                   ng-model="subcomment.text">
                        </div>
                        <div class="form-group">
                            <label>author</label>
                            <input type="text" class="form-control"
                                   ng-model="subcomment.author">
                        </div>
                        <div class="form-group">
                            <label>create_date</label>
                            <input type="date" class="form-control"
                                   ng-model="subcomment.create_date">
                        </div>
                        <div class="form-group">
                            <label>change_date</label>
                            <input type="date" class="form-control"
                                   ng-model="subcomment.change_date">
                        </div>

                        <div class="form-group">
                            <label>comment</label>
                            <select class="form-control" ng-model="subcomment.comment.id" ng-options="comment.id as comment.id for comment in comments">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>text</th>
                    <th>author</th>
                    <th>create_date</th>
                    <th>change_date</th>
                    <th>comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subcomment in subcomments">
                    <td>{{subcomment.id}}</td>
                    <td>{{subcomment.text}}</td>
                    <td>{{subcomment.author}}</td>
                    <td>{{subcomment.create_date}}</td>
                    <td>{{subcomment.change_date}}</td>
                    <td>{{subcomment.comment.id}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(subcomment.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(subcomment.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
