<div>
    <!--TabSelect jQuery Plugin-->
    <div class="row">
        <div class="col-md-4">
            <h2>Posts</h2>
        </div>
    </div>
    <!--Post table-->
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="post in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                <td>
                    <div class="row">
                        <div class="col-md-2"><h6>Post ID: {{post.id}}</h6></div>
                        <div class="col-md-3"><h6>Create date: {{post.create_date}}</h6></div>
                        <div class="col-md-3"><h6>Change date: {{post.change_date}}</h6></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div><a href="#/post_page/{{post.id}}"><h3>{{post.title}}</h3></a></div>
                            <div ng-bind-html="post.text"></div>
                            <div><a href="#/post_page/{{post.id}}"><h6>Read more...</h6></a></div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="3">
                <ul class="pagination">
                    <li ng-class="prevPageDisabled()">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range()" ng-class="{active: n == currentPage}">
                        <a href ng-click="setPage(n)">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </td>
            </tfoot>
        </table>
    </div>
</div>
