html {
    position: relative;
    min-height: 100%;
}
body {
    /* background: #fafafa; */
    background: #F0F0F0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin-bottom: 200px;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
  display: inline-block;
  width: 463px;
  height: 640px;
  background-image: url("../images/skyline.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

/* tag button */
.tag-button {
    float: left;
    margin: 2px;
}

/* TabSelect jQuery Plugin */
div.demo span span {
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    margin-right: 6px;

    cursor: hand;
    cursor: pointer;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-box-shadow: 0 1px 2px rgba(160,160,160,1);
    -moz-box-shadow: 0 1px 2px rgba(160,160,160,1);
    box-shadow: 0 1px 2px rgba(160,160,160,1);
}

div.demo span.active {
    background: #99cc33;
    color: #fff;
    border: 1px #66aa00 solid;
}
div.demo span.active:hover {
    background: #66aa00;
    color: #fff;
    border: 1px #338800 solid;
}

div.demo span.inactive {
    background: #ddd;
    color: #888;
    border: 1px #bbb solid;
}
div.demo span.inactive:hover {
    background: #bbb;
    color: #fff;
    border: 1px #888 solid;
}

.tagContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: solid #e3e3e3 1px;
    border-radius: 5px;
    background: #FFFFFF;
}

.tagContainer div{
    margin: 10px;
}

.tagContainer label{
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: slategray;
    width: 100%;
}
.tagContainer button{
    margin-left: 90%;
    margin-bottom: 10px;
}

.tagSearchWrapper{
    width: 100%;
    margin-bottom: 10px;
}
.tagSearchWrapper button{
    margin-left: 90%;
}

/* summernote */
.note-editable {
    min-height: 200px;
}

.info-field {
   margin: 10px;
   padding: 10px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #f5f5f5;
}
.footer .container {
  width: auto;
  padding: 20px 40px 0 40px;
  max-width: 1170px;
}
.footer .container .text-muted {
  margin: 20px 0;
}

.footer .container .column {
    display:block;
    width: 33%;
    min-width: 100px;
    float: left;
    vertical-align: baseline;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


