<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JavaBlogger</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/textAngular/src/textAngular.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/summernote/dist/summernote.css">
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css">
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
    <!-- endbuild -->
</head>
<body ng-app="blogApp" ng-controller="MainController">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span translate="global.title">JavaBlogger</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="authenticated">
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <span class="glyphicon glyphicon-fire"></span>
                        <span translate="global.menu.posts">Posts</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/technical_posts"><span class="glyphicon glyphicon-flash"></span>
                            &#xA0;<span translate="global.menu.tech_posts">Tech-Posts</span></a></li>
                        <li><a href="#/personal_posts"><span class="glyphicon glyphicon-leaf"></span>
                            &#xA0;<span translate="global.menu.personal_posts">Personal_posts</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/archive"><span class="glyphicon glyphicon-folder-open"></span>
                            &#xA0;<span translate="global.menu.archive">Archive</span></a></li>
                        <li ng-show="isAuthorized(userRoles.admin)" role="separator" class="divider"></li>
                        <li ng-show="isAuthorized(userRoles.admin)">
                            <a href="" data-toggle="modal" data-target="#savePostModal"
                               ng-click="clear()"><span class="glyphicon glyphicon-plus"></span>
                            &#xA0;<span translate="global.menu.createPost">Create Post</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#/about">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span translate="global.menu.about">About me</span>
                    </a>
                </li>
                <li>
                    <a id="searchButton" href="" data-toggle="collapse" data-target="#collapseSearch"
                            aria-expanded="false" aria-controls="collapseSearch">
                        <span class="glyphicon glyphicon-search"></span>
                        <span translate="global.menu.search">Search</span>
                    </a>
                </li>
                <li ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.entities.main">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu" ng-controller="MenuController">
                        <li ng-switch-when="true"><a href="#/post"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;post</a>
                        </li>
                        <li ng-switch-when="true"><a href="#/comment"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;comment</a>
                        </li>
                        <li ng-switch-when="true"><a href="#/subcomment"><span
                            class="glyphicon glyphicon-asterisk"></span>&nbsp;subcomment</a></li>
                        <li ng-switch-when="true"><a href="#/tag"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;tag</a>
                        </li>
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="global.menu.account.main">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu" ng-controller="MenuController">
                        <li ng-switch-when="true"><a href="#/settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ng-switch-when="true"><a href="#/password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ng-switch-when="true"><a href="#/sessions"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ng-switch-when="true"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ng-switch-when="false"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ng-switch-when="false"><a href="#/register"><span
                            class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer"
                    ng-controller="AdminController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="global.menu.admin">Admin</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.account.metrics">Metrics</span></a></li>
                        <li><a href="#/health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.account.health">Health</span></a></li>
                        <li><a href="#/audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.account.audits">Audits</span></a></li>
                        <li><a href="#/logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.account.logs">Logs</span></a></li>
                        <li><a href="#/docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.account.apidocs">API Docs</span></a></li>
                    </ul>
                </li>
                <!--Languages-->
                <!--<li class="dropdown pointer" ng-controller="LanguageController">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">-->
                                <!--<span>-->
                                    <!--<span class="glyphicon glyphicon-flag"></span>-->
                                    <!--<span class="hidden-tablet" translate="global.menu.language">Language</span>-->
                                    <!--<b class="caret"></b>-->
                                <!--</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li active-menu="{{key}}" ng-repeat="(key, language) in languages">-->
                            <!--<a href="javascript:;" ng-click="changeLanguage(key)">{{language}}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <!--search-->
    <div ng-include="'views/search.html'"></div>
    <div ng-include="'views/create_post.html'"></div>
    <!--main container-->
    <div class="well" ng-view=""></div>
    <!--footer-->
</div>
<div class="footer">
    <div class="container">
        <div class="column">
            <h5>Posts</h5>
            <ul>
                <li><a href="#/technical_posts">&#xA0;<span translate="global.menu.tech_posts">Tech-Posts</span></a></li>
                <li><a href="#/personal_posts">&#xA0;<span translate="global.menu.personal_posts">Personal_posts</span></a></li>
                <li><a href="#/archive">&#xA0;<span translate="global.menu.archive">Archive</span></a></li>
            </ul>
        </div>
        <div class="column">
            <h5>About me</h5>
            <a href="#/about">
                Some information about me. Some information about me. Some information about me.
            </a>
        </div>
        <div class="column">
            <h5>Follow us</h5>
            <p>Some information.</p>
        </div>
        <div>
            <p class="text-muted" translate="footer"> B_Koy - 2014-2015</p>
        </div>
    </div>
</div>

<!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>-->


<!-- build:js scripts/scripts.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>
<script src="scripts/http-auth-interceptor.js"></script>
<script src="scripts/truncate.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/constants.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/directives.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
<script src="bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
<script src="bower_components/textAngular/dist/textAngular.min.js"></script>
<script src="bower_components/summernote/dist/summernote.min.js"></script>
<script src="bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="scripts/post/router_post.js"></script>
<script src="scripts/post/controller_post.js"></script>
<script src="scripts/post/service_post.js"></script>
<script src="scripts/comment/router_comment.js"></script>
<script src="scripts/comment/controller_comment.js"></script>
<script src="scripts/comment/service_comment.js"></script>
<script src="scripts/tech_posts/router_tech_posts.js"></script>
<script src="scripts/tech_posts/controller_tech_posts.js"></script>
<script src="scripts/tech_posts/service_tech_posts.js"></script>
<script src="scripts/post_page/router_post_page.js"></script>
<script src="scripts/post_page/controller_post_page.js"></script>
<script src="scripts/post_page/service_post_page.js"></script>
<script src="scripts/subcomment/router_subcomment.js"></script>
<script src="scripts/subcomment/controller_subcomment.js"></script>
<script src="scripts/subcomment/service_subcomment.js"></script>
<script src="scripts/tag/router_tag.js"></script>
<script src="scripts/tag/controller_tag.js"></script>
<script src="scripts/tag/service_tag.js"></script>
<script src="scripts/jquery.tabselect-0.2.js"></script>
<script src="scripts/search/router_post_search.js"></script>
<script src="scripts/search/controller_posts_search.js"></script>
<script src="scripts/about/router_about.js"></script>
<script src="scripts/about/controller_about.js"></script>
<!-- endbuild -->
</body>
</html>
